body {
	background: #12458c;
	margin: 0rem;
	padding: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;

	display: grid;
	grid-gap: 0.1vw;
	grid-template-columns: 6.5rem 1fr;
	grid-template-rows: 6rem 1fr 3rem;
	grid-template-areas: "header   header" "sidebar content" "footer footer";
}
header {
	text-transform: uppercase;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #fff;
	border-style: solid;
	border-width: 2px;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-area: header;
}
aside {
	color: #fff;
	border-width: 2px;
	border-style: solid;
	float: left;
	width: 6.3rem;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-area: sidebar;
}
footer {
	color: #fff;
	border-width: 2px;
	border-style: solid;
	clear: both;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-area: footer;
}
main {
	float: right;
	width: calc(100% - 7.2rem);
	padding: 5px;
	background: hsl(240, 100%, 50%);

	grid-area: content;
}
main > article {
	background: hsl(240, 100%, 50%);
	background-image: url('https://source.unsplash.com/daily');
	color: hsl(240, 0%, 100%);
	border-width: 5px;
	display: grid;
	align-items: center;
	justify-items: center;
	display: grid;
	grid-gap: 0.1vw;
	grid-template-columns: repeat(auto-fill, 6rem);
	grid-template-rows: repeat(auto-fill, 6rem);
}

@supports (display: grid) {
	main {
		width: auto;
	}
}

main article:nth-child(2) {
	grid-column: 2/span 4;
	grid-row: 1/span 2;
}
