

body {
	/* background: #12458c; */
	margin: 0rem;
	padding: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;

	display: grid;
	grid-gap: 0.1vw;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 6rem 4rem 5rem 20rem 4rem 18rem 15rem 4rem 15rem 25rem 4rem 23rem 4rem;  
	grid-template-areas: "header header header header" 
		"nav nav nav nav" 
		"title1 title1 title1 title1"
		"video1 video1 text1 text1"
		"title2 title2 title2 title2"
		"img1 img1 img2 img2"
		"text2 text2 text2 text2"
		"title3 title3 title3 title3"
		"text3 text3 text3 text3"
		"video2 video2 img3 img3"
		"title4 title4 title4 title4"
		"text4 text4 img4 img4"  
		"footer footer footer footer"
}

body {
	background-color: rgb(46,41,79)
}

body > h2 {
	font-family: "Nunito", sans-serif;
	margin: 0rem;
	padding: 0px;
}

body > img {
	width: 50%;
	height: 50%;
	/* display: inline-block; */
	clear: both;
}

body > div > p {
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;
	padding: 5%;
	margin: 0px;
} 

header {
	background-color: rgb(249,145,204);
	padding: 10px 10px 10px 10px;
	display: grid;
	grid-area: header;
	justify-items: center;
	align-items: center;

}
 
header > h1 {
	font-family: 'Ubuntu', sans-serif;
} 

nav {
	background-color: rgb(216,2,102);
	border-bottom: solid rgb(198, 198, 198) 3px;
	font-family: 'Ubuntu', sans-serif;	
	display: grid;
	grid-area: nav;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-flex;
	justify-content: space-evenly;

}

nav > ul > li {
	display: grid;
	align-items: center;
	justify-items: center;
}

nav > ul > li > a {
	color: white;
	text-decoration: none;
	display: grid;
}

#title1 {
	display: grid;
	grid-area: title1;
	justify-items: center;
	align-items: center;
	grid-column:  1/span 2;
	background-color: rgb(188,212,222);
	border-radius: 10px 10px 10px 10px;
}

#video1 {
	display: grid;
	grid-area: video1;
	align-items: center;
	justify-items: center;
	grid-column: 1/span 2;
}

#text1 {
	display: grid;
	grid-area: text1;
	grid-column: 3/span 2;
	align-items: center;
	justify-items: center;
	background-color: rgb(188,212,222);
	border-radius: 10px 0px 0px 10px;
}

#title2 {
	display: grid;
	grid-area: title2;
	align-items: center;
	justify-items: center;
	grid-column: 1/span 2;
	background-color: rgb(188,212,222);
	border-radius: 10px 10px 10px 10px;
}

#text2 {
	display: grid;
	grid-area: text2;
	grid-column: 1/span 4;
	align-items: center;
	justify-items: center;
	background-color: rgb(188,212,222);
	border-radius: 10px 10px 10px 10px;
}

#img1 {
	display: grid;
	grid-area: img1;
	grid-column: 1/span 2;
	align-items: center;
	justify-items: center;
}

#img2 {
	display: grid;
	grid-area: img2;
	grid-column: 3/span 2;
	align-items: center;
	justify-items: center;
} 

.youtube-video {
	height: 95%;
	width: 95%;
}

#title3 {
	display: grid;
	grid-area: title3;
	align-items: center;
	justify-items: center;
	grid-column: 1/span 2;
	background-color: rgb(188,212,222);
	border-radius: 10px 10px 10px 10px;
}

#text3 {
	display: grid;
	grid-area: text3;
	grid-column: 1/span 4;
	align-items: center;
	justify-items: center;
	background-color: rgb(188,212,222);
	border-radius: 10px 10px 10px 10px;
}

#img3 {
	display: grid;
	grid-area: img3;
	grid-column: 3/span 2;
	align-items: center;
	justify-items: center;
}

#video2 {
	display: grid;
	grid-area: video2;
	grid-column: 1/span 2;
	align-items: center;
	justify-items: center;
}

#title4 {
	display: grid;
	grid-area: title4;
	align-items: center;
	justify-items: center;
	grid-column: 1/span 2;
	background-color: rgb(188,212,222);
	border-radius: 10px 10px 10px 10px;
}

 #img4 {
	display: grid;
	grid-area: img4;
	grid-column: 3/span 2;
	align-items: center;
	justify-items: center;
}

#text4 {
	display: grid;
	grid-area: text4;
	grid-column: 1/span 2;
	align-items: center;
	justify-items: center;
	background-color: rgb(188,212,222);
	border-radius: 0px 10px 10px 0px;
} 

#footer {
	display: grid;
	grid-area: footer;
	align-items: center;
	justify-items: center;
	grid-column: 1/span 4;
	background-color: rgb(249,145,204);
	border-radius: 10px 10px 10px 10px;
}