body {
    margin: 0;
    padding: 0;
}

.page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5em 3em auto 2em;
    grid-template-areas: "header" "nav" "sections" "footer";
    height: 100vh;
}

.header {
    display: grid;
    grid-area: header;
    justify-items: center;
    align-items: center;

    background-color: rgb(249,145,204);
}

.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "nav nav nav nav nav";

    /* background-color: rgb(216,2,102); */
    border-bottom: solid rgb(198, 198, 198) 3px;
    font-family: 'Ubuntu', sans-serif;	
}

.nav ul {
    display: inline-flex;
    grid-area: nav;
    list-style: none;
    margin: 0;
    padding: 0;

    justify-content: space-evenly;

}

.nav > ul > li {
    display: grid;
    align-items: center;
    justify-items: center;
}

.nav > ul > li > a {
    /* color: white; */
    text-decoration: none;
    display: grid;
}

.content {
    overflow: auto;
}

.sections {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "section1" "section2" "section3" "section4" "references";
    grid-area: sections;
}

.section {
    display: grid;
    grid-template-rows: 3rem;
    grid-template-areas: "section-title" "section-content";
    grid-area: section;
}

h2 {
    margin: 0rem;
    padding: 0px;
}

.section-title {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-area: section-title;
}

.section-content {
    display: grid;
}

#what-is-vr {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "video1 text1";
}

#video1 {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: video1;
    grid-column: 1;
}

#history {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img1 img2" "text2 text2";
}

#img1 {
    display: grid;
    grid-area: img1;
    align-items: center;
    justify-items: center;
    grid-column: 1;
}

#img2 {
    display: grid;
    grid-area: img2;
    align-items: center;
    justify-items: center;
    grid-column: 2;
}

#uses {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img3 video2" "text3 text3";
}

#img3 {
    display: grid;
    grid-area: img3;
    align-items: center;
    justify-items: center;
    grid-column: 1;
}

#v1 {
    min-height: 60%;
    min-width: 80%;
}

#video2 {
    display: grid;
    grid-area: video2;
    grid-column: 2;
    align-items: center;
    justify-items: center;
}

#v2 {
    min-height: 90%;
    min-width: 80%;
}

#risks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "text4 img4";
}

#references {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text5";
}

p {
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    padding: 5%;
    margin: 0px;
} 

#text1 {
    display: grid;
    grid-area: text1;
    grid-column: 2;
    align-items: center;
    justify-items: center;

    border-radius: 10px 0px 0px 10px;
}

#text2 {
    display: grid;
    grid-area: text2;
    grid-column: 1/span 2;
    align-items: center;
    justify-items: center;

    border-radius: 10px 0px 0px 10px;
}

#text2 {
    display: grid;
    grid-area: text2;
    grid-column: 1/span 2;
    align-items: center;
    justify-items: center;

    border-radius: 10px 0px 0px 10px;
}

#text3 {
    display: grid;
    grid-area: text3;
    grid-column: 1/span 2;
    align-items: center;
    justify-items: center;

    border-radius: 10px 0px 0px 10px;
}

#text4 {
    display: grid;
    grid-area: text4;
    grid-column: 1;
    align-items: center;
    justify-items: center;

    border-radius: 10px 0px 0px 10px;
}


#text5 {
    display: grid;
    grid-area: text5;
    grid-column: 1;
    justify-items: center;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
}

#img4 {
    display: grid;
    grid-area: img4;
    align-items: center;
    justify-items: center;
    grid-column: 2;
}

#section1 {
    grid-area: section1;
}

#section2 {
    grid-area: section2;
}

#section3 {
    grid-area: section3;
}

#section4 {
    grid-area: section4;
}

#section5 {
    grid-area: references;
}

.footer {
    display: grid;
    grid-template-columns: auto;
    grid-area: footer;
    align-items: center;
    justify-items: center;
    /* grid-column: 1/span 4; */
    /* background-color: rgb(249,145,204); */
    border-radius: 10px 10px 10px 10px;
}

